#!/bin/bash
# Template for batchtools + Slurm
# Job name: <%= job.name %>
#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
<% if (!is.null(resources$partition))       { %>#SBATCH --partition=<%= resources$partition %><% } %>
<% if (!is.null(resources$account))         { %>#SBATCH --account=<%= resources$account %><% } %>
<% if (!is.null(resources$qos))             { %>#SBATCH --qos=<%= resources$qos %><% } %>
<% if (!is.null(resources$time))            { %>#SBATCH --time=<%= resources$time %><% } %>
<% if (!is.null(resources$nodes))           { %>#SBATCH --nodes=<%= resources$nodes %><% } %>
<% if (!is.null(resources$ntasks))          { %>#SBATCH --ntasks=<%= resources$ntasks %><% } %>
<% if (!is.null(resources$ntasks_per_node)) { %>#SBATCH --ntasks-per-node=<%= resources$ntasks_per_node %><% } %>
<% if (!is.null(resources$cpus_per_task))   { %>#SBATCH --cpus-per-task=<%= resources$cpus_per_task %><% } %>
<% if (!is.null(resources$mem))             { %>#SBATCH --mem=<%= resources$mem %><% } %>
<% if (!is.null(resources$gres))            { %>#SBATCH --gres=<%= resources$gres %><% } %>
<% if (!is.null(resources$gpus))            { %>#SBATCH --gres=gpu<% if (!is.null(resources$gpu_type)) { %>:<%= resources$gpu_type %><% } %>:<%= resources$gpus %><% } %>

set -euo pipefail

module purge || true
module load R

export PARADE_SCRATCH=${PARADE_SCRATCH:-${SCRATCH:-${SCRATCHDIR:-${PSCRATCH:-${WORK:-${SLURM_TMPDIR:-${TMPDIR:-/tmp}}}}}}}
export OMP_NUM_THREADS=1
export MKL_NUM_THREADS=1
export OPENBLAS_NUM_THREADS=1

export OMP_NUM_THREADS=${OMP_NUM_THREADS:-<%= resources$omp_num_threads %>}
export MKL_NUM_THREADS=${MKL_NUM_THREADS:-$OMP_NUM_THREADS}
export OPENBLAS_NUM_THREADS=${OPENBLAS_NUM_THREADS:-$OMP_NUM_THREADS}

Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
